<!doctype html>
  <html>
   <head>
    <title>Node</title>
    <link rel='stylesheet' href='style.css' type='text/css'/>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <body>
    NodeJS is up. Ready to serve clients
  </body>
<script type="text/javascript">
  //client side socket io instance, stablish connection to NodeJS server...
  var socket = io.connect('https://system.lay-bare.com:3000'); 
  </script>
</html>